body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  text-align: center;
}

#app {
  margin: 20px;
}

input, button {
  padding: 10px;
  margin: 10px;
}

#songList {
  margin-top: 20px;
}

#recommendation {
  margin-top: 20px;
}
